#(project
  (#(deps (#("lfex/lutil" "master")
           #("lfex/lcfg" "master")
           #("lfex/logjam" "master")
           #("lfex/cereal" "master")))
   #(meta (
     #(name xb)
     #(description "LFE/Erlang library for the XBee API")
     #(version "0.1.0")
     #(keywords ("LFE" "Lisp" "Library" "Serial" "RS232" "XBee" "ZigBee"
                 "Radio"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "oubiwann/xb")))))))
#(logging (
   #(log-level error)
   #(backend lager)
   #(options (#(lager_console_backend error)))))
